.title {
    font-weight: bolder;
    font-size: 40px;
    color: #efefef;
    font-family: "Libre Baskerville";
}
body {
    background: rgb(156,133,171);
    background: linear-gradient(90deg, rgba(156,133,171,1) 0%, rgba(255,171,171,1) 50%, rgba(255,228,189,1) 100%);
    font-family: "Lato";
}

.nav-bar {

}

.nav-bar li {
    display: inline;
}

.nav-bar  {
    background-color: #111111;
    width: 100%;
}