.title {
    font-weight: bolder;
    font-size: 60px;
    color: #efefef;
    font-family: "Sail", cursive;
}

body {
    background: rgb(35,134,122);
    background: linear-gradient(90deg, rgba(35,134,122,1) 0%, rgba(35,54,134,1) 50%, rgba(74,13,115,1) 100%);
    font-family: "Playfair Display", serif;
}

.spacer {
    width: 100%;
    height: 95px;
}

.nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: black;
    color: #EFF1ED;
    margin-bottom: 105%;
}

.nav-bar a {
      text-decoration: none;
      color: #EFF1ED;
}

.nav-bar ul {
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
}

.nav-bar ul li {
    list-style-type: square;
    display: inline;
    margin-left: 60px;
    margin-bottom: 10px;
    font-family: Lato, Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 23px;
}

.nav-bar .title {
    margin-left: -50px;
}

/*.nav-bar ol {*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  right: 10px;*/
/*  -ms-transform: translateY(-50%);*/
/*  transform: translateY(-50%);*/
/*}*/

/*.nav-bar ol li {*/
/*  list-style-type: none;*/
/*  font-size: 30px;*/
/*  margin: 10px;*/
/*}*/