<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nocturne - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
</head>
<body>
    <ul class="nav-bar">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
    </ul>

{#TODO: update the about page to actually include information#}

    <p>
        Nocturne was built for HackMIT 2020, a hackathon put on by MIT that was done virtually this year due to the COVID-19 pandemic. Our team sought to create a program that could create a personalized piece of music, while only given a zip code and a date. {# TODO: remove date if we didn't implement that? #}
    </p>
    <p>
        We created Nocturne using <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a>, a lightweight web framework using Python to connect the frontend to the backend. This allowed for us to import our data into Python, generate music using the <a href="http://pydub.com/">PyDub</a> package, then display the location of the stars and play the music using HTML5 and Javascript.
    </p>
</body>
</html>