<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato"
    <script src="../static/main.js"></script>
</head>
<body>
    <h1 class="title">Stargazer</h1>
    <!--    TODO: change the title! -->

    <p id="body">This is a paragraph example</p>
    <ul class="nav-bar">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
    </ul>
    <form class="position">
        <label for="zipcode">Enter your zip code:</label><br>
        <input type="text" id="zipcode" name="zipcode" placeholder="12345">
        <input type="submit" value="Generate music">
    </form>

    <canvas id="stars" width="800" height="450" style="border:1px solid #0d0d0d;"></canvas>
</body>
</html>