<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    TODO: change title#}
    <title>Stargazer - Home</title>
    <script type=text/javascript src="{{url_for('static', filename='js/main.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
</head>
<body>
    <ul class="nav-bar">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
    </ul>
    <form class="position">
        <label for="zipcode">Enter your zip code:</label><br>
        <input type="text" id="zipcode" name="zipcode" placeholder="12345">
        <input type="submit" value="Generate music">
    </form>

    <canvas id="stars" width="800" height="450" style="border:1px solid #0d0d0d;"></canvas>
</body>
</html>