<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stargazer</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sail">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <script src="../static/main.js"></script>
</head>
<body>
    <div class="nav-bar">
        <!--    TODO: change the title! -->
        <ul>
            <li><span class="title">Stargazer</span></li>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </div>

    <div class="spacer"></div>

    <div id="outer">
        <div id="inputs">
            <form class="position" action="/query" method="GET">
                <label for="zipcode">Enter your zip code:</label><br>
                <input type="text" id="zipcode" name="zipcode" placeholder="12345"><br>
                <label for="date">Enter your date:</label><br>
                <input type="date" id="date" name="date"><br>
                <input type="submit" value="Generate music">
            </form>
        </div>

        <div id="canvas">
            <canvas id="stars" width="1600" height="900"></canvas>
        </div>
        <div class="spacer">
            &nbsp;
        </div>
    </div>

        <script>
            async function drawStars() {
                let canvas = document.getElementById("stars");
                let ctx = canvas.getContext("2d");

                // fill background
                let width = canvas.width;
                let height = canvas.height;
                ctx.fillRect(0, 0, width, height);

                let starList = JSON.parse('{{ data }}');

                let minX = starList[0][1];
                let minY = starList[0][2];
                let maxX = 0.0;
                let maxY = 0.0;
                for (star in starList) {
                    if (star[1] < minX) {
                        minX = star[1]
                    } else if (star[1] > maxX) {
                        maxX = star[1]
                    }

                    if (star[2] < minY) {
                        minY = star[2]
                    } else if (star[2] > maxY) {
                        maxY = star[2]
                    }
                }

                console.log(starList.length);

                let diffX = maxX - minX;
                let diffY = maxY - minY;

                let scaleX = 900/diffX;
                let scaleY = 900/diffY;

                console.log(scaleX);

                // loop through the stars
                for (let starIndex = 0; starIndex < starList.length; starIndex++) {
                    // create a star
                    let star = starList[starIndex];
                    star[1] = star[1]*scaleX;
                    star[2] = star[2]*scaleY;
                    {#console.log(star[1]);#}
                    {#console.log(star[2]);#}

                    let radius = 12; // max value of brightness
                    let grd = ctx.createRadialGradient(star[1], star[2], 1, star[1], star[2], Math.pow(radius - star[0], .75));
                    grd.addColorStop(0, "white");
                    grd.addColorStop(1, "black");

                    // fill with gradient
                    ctx.fillStyle = grd;
                    ctx.fillRect(star[1] - radius, star[2] - radius, 2 * radius, 2 * radius);
                }
                     
                new Audio('./tmp/music.mp3').play()

            }
        </script>

</body>
</html>